@using SalesCobrosGeo.Web.Models.Collections
@using SalesCobrosGeo.Web.Models.Shared
@model CollectorHomeViewModel
@{
    ViewData["Title"] = "Cobros";
    ViewData["MobileContextBar"] = new MobileContextBarModel("Cobros", "Inicio operativo");
}
<div class="app-viewport-mobile"><partial name="_CollectorHomeMobile" model="Model" /></div>
<div class="app-viewport-desktop"><partial name="_CollectorHomeDesktop" model="Model" /></div>
