@using SalesCobrosGeo.Web.Models.Collections
@using SalesCobrosGeo.Web.Models.Shared
@model CollectorRouteViewModel
@{
    ViewData["Title"] = "Mi ruta";
    ViewData["MobileContextBar"] = new MobileContextBarModel("Cobros", "Mi ruta", Url.Action("CollectorHome", "Cobros", new { profile = Model.Profile }));
}
<div class="app-viewport-mobile"><partial name="_CollectorRouteMobile" model="Model" /></div>
<div class="app-viewport-desktop"><partial name="_CollectorRouteDesktop" model="Model" /></div>
