@using SalesCobrosGeo.Web.Models.Collections
@using SalesCobrosGeo.Web.Models.Shared
@model SupervisorCollectionsViewModel
@{
    ViewData["Title"] = "Monitoreo de cobros";
    ViewData["MobileContextBar"] = new MobileContextBarModel("Cobros", "Monitoreo", Url.Action("SupervisorDashboard", "Cobros", new { profile = Model.SelectedCollector }));
}
<div class="app-viewport-mobile"><partial name="_SupervisorMonitorMobile" model="Model" /></div>
<div class="app-viewport-desktop"><partial name="_SupervisorMonitorDesktop" model="Model" /></div>
