@using SalesCobrosGeo.Web.Models.Collections
@using SalesCobrosGeo.Web.Models.Shared
@model SupervisorCollectionsViewModel
@{
    ViewData["Title"] = "Supervision de cobros";
    ViewData["MobileContextBar"] = new MobileContextBarModel("Cobros", "Supervisor");
}
<div class="app-viewport-mobile"><partial name="_SupervisorDashboardMobile" model="Model" /></div>
<div class="app-viewport-desktop"><partial name="_SupervisorDashboardDesktop" model="Model" /></div>
