## Base artifacts
bin/
obj/

## User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

## Tooling caches
.vs/
.dotnet/
.dotnet-home/
.appdata/
.nuget/
.nuget-packages/

## Logs
*.log

## Local app data
src/SalesCobrosGeo.Web/App_Data/

## OS files
Thumbs.db
.DS_Store
